WSLocal/WSLocal/Service References/WS/WSLCO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/wslco" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/wslco" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/wslco">
      <s:element name="UpdateLCO">
        <s:complexType />
      </s:element>
      <s:element name="UpdateLCOResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateLCOSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLCO" />
  </wsdl:message>
  <wsdl:message name="UpdateLCOSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLCOResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="WSLCOSoap">
    <wsdl:operation name="UpdateLCO">
      <wsdl:input message="tns:UpdateLCOSoapIn" />
      <wsdl:output message="tns:UpdateLCOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusSoapIn" />
      <wsdl:output message="tns:GetStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSLCOSoap" type="tns:WSLCOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateLCO">
      <soap:operation soapAction="http://localhost/wslco/UpdateLCO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://localhost/wslco/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSLCOSoap12" type="tns:WSLCOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateLCO">
      <soap12:operation soapAction="http://localhost/wslco/UpdateLCO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://localhost/wslco/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSLCO">
    <wsdl:port name="WSLCOSoap" binding="tns:WSLCOSoap">
      <soap:address location="http://localhost:8001/WSLCO.asmx" />
    </wsdl:port>
    <wsdl:port name="WSLCOSoap12" binding="tns:WSLCOSoap12">
      <soap12:address location="http://localhost:8001/WSLCO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>